body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#list {
    border-collapse: collapse;
    width: 100%;
}
  
#list th,#list td {
    text-align: left;
    padding: 8px;
    border: 1px solid beige;
}
  
#list tr:nth-child(even){background-color: floralwhite}

th {
    background-color:  burlywood;
    color: black;
  }
  
td input {
    width: 100%;
    padding: 0px;
  }

#list td{
   border: 1px solid beige;
}