body{
  font-weight: 600;
}

html {
  width: 100%;
  height: 100%;
  background-color: whitesmoke no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header-wraper {
  padding: 20px 75px 20px 20px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#search {
  padding-left: 5px;
  border-radius: 300px;
}

#content {
  flex: 20;
  display: flex;
  flex-direction: row;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn {
  border-radius: 300px;
}

.btn-danger {
  color: #fff;
  background-color: #af002d; 
  border-color:#af002d; 
}

.btn-danger:hover{
	background-color: #b71942;
	border-color:  #b71942;
	border-width: .5px;
}

.btn-info {
  background-color:#6eb2b6; 
  border-color: #6eb2b6; 
  color: #fff;
}

.btn-info:hover{
	background-color: #8bc1c4;
	border-color:  #8bc1c4;
  border-width: .5px;
  color: #fff;
}

.btn-secondary {
  background-color: #b71942;
	border-color:  #b71942;
}

.btn-secondary:hover{
	background-color: #b71942;
	border-color:  #b71942;
	border-width: .5px;
}

.btn-primary {
  background-color: #34ac89;
	border-color:  #34ac89;
}

.btn-primary:hover{
  background-color: #34ac89;
	border-color:  #34ac89;
	border-width: .5px;
}

.modal-title {
  margin-left: 190px;
 
}

.modal-header {
  background: #5ed8cf;
  border-color: black;
}

.modal-content {
  border: 0;
}

.modal-body{
  background: #5ed8cf;
}

.modal-footer {
  background: #5ed8cf;
  border-color: black;
}

.placeholders {
  border-radius: 300px;
  margin: 1px;
  padding-left: 5px;
}

#depositArea {
  border-radius: 300px;
  margin: 1px;
  padding-left: 3px;
}

#category {
  border-radius: 300px;
  margin: 1px;
  padding-left: 3px;
}

header {
  background:linear-gradient( 
    130deg
     ,#ff7a18,#af002d 41.07%,#319197 76.05%);;
     color: white;
}

h1{
  font-family: 'Dancing Script', sans-serif;
}


#list {
    border-collapse: collapse;
    width: 100%;
}
  
#list th,#list td {
    text-align: left;
    padding: 8px;
    border: 1px solid beige; 
}
  
#list tr:nth-child(even){background-color: floralwhite}

th {
    background-color:#319197;
    color: white;
  }
  
td input {
    width: 100%;
    padding: 0px;
  }

#list td{
   border: 1px solid beige;
}
