body{
  font-weight: 600;
}

html {
  width: 100%;
  height: 100%;
  background-color: whitesmoke no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header-wraper {
  padding: 20px 75px 20px 20px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

#search {
  padding-left: 5px;
  border-radius: 300px;
}

#content {
  flex: 20;
  display: flex;
  flex-direction: row;
  padding: 50px 0px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn {
  border-radius: 300px;
}

.btn-danger {
  color: #fff;
  background-color: #af002d; 
  border-color:#af002d; 
}

.btn-danger:hover{
	background-color: #b71942;
	border-color:  #b71942;
	border-width: .5px;
}

.btn-info {
  background-color:#6eb2b6; 
  border-color: #6eb2b6; 
  color: #fff;
}

.btn-info:hover{
	background-color: #8bc1c4;
	border-color:  #8bc1c4;
  border-width: .5px;
  color: #fff;
}

.btn-secondary {
  background-color: #b71942;
	border-color:  #b71942;
}

.btn-secondary:hover{
	background-color: #b71942;
	border-color:  #b71942;
	border-width: .5px;
}

.btn-primary {
  background-color: #29896d;
	border-color:  #29896d;
}

.btn-primary:hover{
  background-color: #29896d;
	border-color:  #29896d;
	border-width: .5px;
}

.modal-title {
  margin-left: 190px;
 
}

.modal-header {
  background: #40abb3;
  border-color: black;
}

.modal-content {
  border: 0;
}

.modal-body{
  background: #40abb3;
}

.modal-footer {
  background: #40abb3;
  border-color: black;
}

.placeholders {
  border-radius: 300px;
  margin: 1px;
  padding-left: 5px;
}

#depositArea {
  border-radius: 300px;
  margin: 1px;
  padding-left: 3px;
}

#category {
  border-radius: 300px;
  margin: 1px;
  padding-left: 3px;
}

header {
  background:linear-gradient( 
    130deg
     ,#ff7a18,#af002d 41.07%,#319197 76.05%);;
     color: white;
}

h1{
  font-family: 'Dancing Script', sans-serif;
}

#list {
    border-collapse: collapse;
    width: 100%;
    border-radius: 30px;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
  
#list th,#list td {
    text-align: left;
    padding: 1em;
}
  
#list tr:nth-child(even){
  background-color: floralwhite
}

th {
    background-color:#319197;
    color: white;
  }
  
td input {
    width: 100%;
    padding: 0px;
  }

tbody tr:hover {
  cursor: pointer;
  transform: scaleY(1);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  transition-duration: 0.1s;
}

tfoot tr{
  background-color:#319197;
    color: white;
}


/* start of Category Search button */
.dropbtn {
  background-color: #af002d;
  color: white;
  padding: 6px 16px 6px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 130px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #a74b26;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 5px solid #f6f6f6;
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  background-color: whitesmoke;
}

.dropdown-content a:hover{
  background-color: white;
}

.dropdown-content input {
  border-radius: 50%;
  font-weight: bold;
  font-size: 12px;
  padding : 0px 3px 2px 3px;
  float: right;
  border-width: 1.9px; 
  border-style: solid;
  text-align: center;
  background-color: white;
}

.show {display:block;}
/* end of Category Search button */

.page-wrap {
  display: flex;
}

#main-sidebar {
  position: relative;
  width: 550px;
  height: 520px;
  padding: 15px 0px;
  border-radius: 10px;
  background: linear-gradient(to top, #319197, floralwhite);
  margin: 0px;
  margin-top: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  
}

#main-sidebar h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 35px;
  margin-top: 50px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

#obj-details {
  display: inline-block;
  position: relative;
  top: -30px;
  left: -30px;
}

#obj-details ul {
  list-style-type: none;
}

#close {
  float: right;
  margin-right: 20px;
  font-size: 25px;
  transform: rotate(45deg);
  cursor: pointer;
}

#close:nth-of-type(2) {
  margin-right: 0px;
}

#close:hover {
  transform: rotate(45deg) scale(1.4);
  transition-duration: .2s;
}

/*#delEdit {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.edit-row {
  font-size: 1.5em;
  color: #040733;
}

.delete-row {
  font-size: 1.5em;
  color: #040733;
}*/